@{
    ViewBag.Title = "About";
}
<p class="pull-right"><a href="/Home/Index" class="btn btn-primary btn-lg">Home</a></p>
<h2>Tick Tracker</h2>
<hr />
<div>
    <div class="col-md-3" style="height:300px">
        <img src="~/img/Salah-Jibril.jpg" style="height:100%" />
    </div>
    <div class="col-md-8">
        <h3>
            This web software was developed by Salahadin Jibril.
        </h3>
    </div>    
</div>
<br /><br />

<div>
    <h4>
        Tick Tracker is a ticket issuing software that makes it convenient for a client to get
        a software bug or issue posted to a Professional Developer and have issues resolved.
        This Bug Tracker was made to serve as a showcase item for a course project and servers the submitters
        of a ticket and the recievers of a ticket and makes it easy to keep track of ticket while it's being
        processed and resolved.
    </h4>

    <h4>
        Once you have created an account you will be able to submit tickets with your issues described and
        attach any document/picture you would like to provide to help the Developer resolve your issues.
        The Software allows you to keep track of your tickets and your tickets statuses.
        You may also add comments and attachments to your tickets on a later date.
    </h4>
    <h4>
        This Bug Tracker was made to showcase my ablities using MVC Asp.net and is the midterm project
        at Coder Foundry. If you wish to know more about my projects while I studied at Coder Foundry,
        look at my personal site <a href="http://jibrils-personalsite.azurewebsites.net/">here</a>
    </h4>
</div>